{% extends 'base.html' %}
{% block test_fonts %}

    <div class="container-fluid container__wrapper">
        <div class="container">
            <div class="site__wrapper">
                <div class="w-100 mt-3">
                    <div class='Acme Regular' style='font-family: "Acme Regular";'>
                        This text is using the font: Acme Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Audiowide Regular' style='font-family: "Audiowide Regular";'>
                        This text is using the font: Audiowide Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Baumans Regular' style='font-family: "Baumans Regular";'>
                        This text is using the font: Baumans Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='BungeeOutline Regular' style='font-family: "BungeeOutline Regular";'>
                        This text is using the font: BungeeOutline Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='BungeeShade Regular' style='font-family: "BungeeShade Regular";'>
                        This text is using the font: BungeeShade Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='BungeeSpice Regular' style='font-family: "BungeeSpice Regular";'>
                        This text is using the font: BungeeSpice Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='BungeeTint Regular' style='font-family: "BungeeTint Regular";'>
                        This text is using the font: BungeeTint Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='ExpletusSans Bold' style='font-family: "ExpletusSans Bold";'>
                        This text is using the font: ExpletusSans Bold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='ExpletusSans BoldItalic' style='font-family: "ExpletusSans BoldItalic";'>
                        This text is using the font: ExpletusSans BoldItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='ExpletusSans Italic' style='font-family: "ExpletusSans Italic";'>
                        This text is using the font: ExpletusSans Italic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='ExpletusSans Medium' style='font-family: "ExpletusSans Medium";'>
                        This text is using the font: ExpletusSans Medium. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='ExpletusSans MediumItalic' style='font-family: "ExpletusSans MediumItalic";'>
                        This text is using the font: ExpletusSans MediumItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='ExpletusSans Regular' style='font-family: "ExpletusSans Regular";'>
                        This text is using the font: ExpletusSans Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='ExpletusSans SemiBold' style='font-family: "ExpletusSans SemiBold";'>
                        This text is using the font: ExpletusSans SemiBold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='ExpletusSans SemiBoldItalic' style='font-family: "ExpletusSans SemiBoldItalic";'>
                        This text is using the font: ExpletusSans SemiBoldItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Honk Regular' style='font-family: "Honk Regular";'>
                        This text is using the font: Honk Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Jura DemiBold' style='font-family: "Jura DemiBold";'>
                        This text is using the font: Jura DemiBold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Jura Light' style='font-family: "Jura Light";'>
                        This text is using the font: Jura Light. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Jura Medium' style='font-family: "Jura Medium";'>
                        This text is using the font: Jura Medium. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Jura Regular' style='font-family: "Jura Regular";'>
                        This text is using the font: Jura Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='KalniaGlaze Medium' style='font-family: "KalniaGlaze Medium";'>
                        This text is using the font: KalniaGlaze Medium. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit Black' style='font-family: "Kanit Black";'>
                        This text is using the font: Kanit Black. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit BlackItalic' style='font-family: "Kanit BlackItalic";'>
                        This text is using the font: Kanit BlackItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit Bold' style='font-family: "Kanit Bold";'>
                        This text is using the font: Kanit Bold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit BoldItalic' style='font-family: "Kanit BoldItalic";'>
                        This text is using the font: Kanit BoldItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit ExtraBold' style='font-family: "Kanit ExtraBold";'>
                        This text is using the font: Kanit ExtraBold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit ExtraBoldItalic' style='font-family: "Kanit ExtraBoldItalic";'>
                        This text is using the font: Kanit ExtraBoldItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit ExtraLight' style='font-family: "Kanit ExtraLight";'>
                        This text is using the font: Kanit ExtraLight. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit ExtraLightItalic' style='font-family: "Kanit ExtraLightItalic";'>
                        This text is using the font: Kanit ExtraLightItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit Italic' style='font-family: "Kanit Italic";'>
                        This text is using the font: Kanit Italic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit Light' style='font-family: "Kanit Light";'>
                        This text is using the font: Kanit Light. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit LightItalic' style='font-family: "Kanit LightItalic";'>
                        This text is using the font: Kanit LightItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit Medium' style='font-family: "Kanit Medium";'>
                        This text is using the font: Kanit Medium. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit MediumItalic' style='font-family: "Kanit MediumItalic";'>
                        This text is using the font: Kanit MediumItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit Regular' style='font-family: "Kanit Regular";'>
                        This text is using the font: Kanit Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit SemiBold' style='font-family: "Kanit SemiBold";'>
                        This text is using the font: Kanit SemiBold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit SemiBoldItalic' style='font-family: "Kanit SemiBoldItalic";'>
                        This text is using the font: Kanit SemiBoldItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit Thin' style='font-family: "Kanit Thin";'>
                        This text is using the font: Kanit Thin. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Kanit ThinItalic' style='font-family: "Kanit ThinItalic";'>
                        This text is using the font: Kanit ThinItalic. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='LibreBarcode39Text Regular' style='font-family: "LibreBarcode39Text Regular";'>
                        This text is using the font: LibreBarcode39Text Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Michroma' style='font-family: "Michroma";'>
                        This text is using the font: Michroma. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Orbitron Black' style='font-family: "Orbitron Black";'>
                        This text is using the font: Orbitron Black. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Orbitron Bold' style='font-family: "Orbitron Bold";'>
                        This text is using the font: Orbitron Bold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Orbitron Light' style='font-family: "Orbitron Light";'>
                        This text is using the font: Orbitron Light. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Orbitron Medium' style='font-family: "Orbitron Medium";'>
                        This text is using the font: Orbitron Medium. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='orbitron black webfont' style='font-family: "orbitron black webfont";'>
                        This text is using the font: orbitron black webfont. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='orbitron bold webfont' style='font-family: "orbitron bold webfont";'>
                        This text is using the font: orbitron bold webfont. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='orbitron light webfont' style='font-family: "orbitron light webfont";'>
                        This text is using the font: orbitron light webfont. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='orbitron medium webfont' style='font-family: "orbitron medium webfont";'>
                        This text is using the font: orbitron medium webfont. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Rajdhani Bold' style='font-family: "Rajdhani Bold";'>
                        This text is using the font: Rajdhani Bold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Rajdhani Light' style='font-family: "Rajdhani Light";'>
                        This text is using the font: Rajdhani Light. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Rajdhani Medium' style='font-family: "Rajdhani Medium";'>
                        This text is using the font: Rajdhani Medium. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Rajdhani Regular' style='font-family: "Rajdhani Regular";'>
                        This text is using the font: Rajdhani Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Rajdhani SemiBold' style='font-family: "Rajdhani SemiBold";'>
                        This text is using the font: Rajdhani SemiBold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Revalia Regular' style='font-family: "Revalia Regular";'>
                        This text is using the font: Revalia Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='sector 017' style='font-family: "sector 017";'>
                        This text is using the font: sector 017. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Silkscreen Bold' style='font-family: "Silkscreen Bold";'>
                        This text is using the font: Silkscreen Bold. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Silkscreen Regular' style='font-family: "Silkscreen Regular";'>
                        This text is using the font: Silkscreen Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Tomorrow Regular' style='font-family: "Tomorrow Regular";'>
                        This text is using the font: Tomorrow Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='TradeWinds Regular' style='font-family: "TradeWinds Regular";'>
                        This text is using the font: TradeWinds Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                    <div class='Wallpoet Regular' style='font-family: "Wallpoet Regular";'>
                        This text is using the font: Wallpoet Regular. Most modern browsers, such as Chrome, Firefox, and Edge, have built-in developer tools that allow you to inspect and debug fonts.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
